input(
  type='email',
  novalidate,
  placeholder='Please enter your email address',
  [(ngModel)]='email',
  (blur)='onValidateEmail(email)'
)

span([ngSwitch]='emailError | async')
  span(*ngSwitchWhen='Errors.MalformedEmailAddress') Invalid email format
  span(*ngSwitchWhen='Errors.EmailAddressExists').
    Email already exists, click #[a(href='/login') here] to login
br
br
input(type='checkbox')
label I accept Terms of Service Agreement
br
br
div#geetest-captcha
br
br
button((click)='onSubmit()') Submit
