h2 Sign Up
div([ngSwitch]='viewResponse.view')

  div(*ngSwitchWhen='"email"')
    sign-up-email([viewResponse]='viewResponse', (updateView)='onUpdateView($event)')

  div(*ngSwitchWhen='"confirmation"')
    sign-up-confirmation([viewResponse]='viewResponse')

  div(*ngSwitchWhen='"account"')
    p please fill the account information!
