h2 Sign Up
div([ngSwitch]='view')
  div(*ngSwitchWhen='"email"')
    app-sign-up-email
  div(*ngSwitchWhen='"confirmation"')
    h2 Almost done..
    p. 
      A confirmation link has been sent to {{email}}. You'll need to click
      on this link to add this email address.
  div(*ngSwitchWhen='"account"')
    p please fill the account information!
