h2 Sign Up
div([ngSwitch]='view?.step')

  div(*ngSwitchWhen='Step.Entry')
    sign-up-entry([view]='view', (updateView)='view=$event')

  div(*ngSwitchWhen='Step.Confirmation')
    sign-up-confirmation([view]='view')

  div(*ngSwitchWhen='Step.Detail')
    p account detail page!
