include _variables.pug

doctype html
html(lang='en')
  head
    block title
    block meta
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
    block link
      link(rel='stylesheet', type='text/css', href=npmUrl+'/normalize.css/normalize.css')
    block script
      script(src=npmUrl+'/systemjs/dist/system.src.js')
      script(src=jsUrl+'/systemjs.config.js')
  body
    block body
