extends _layout.pug

block title
  title Register

append link
  style.
    body {
      padding: 100px;
    }

append script
  script(src=geetestUrl)
  script(src=jsUrl+'/register.js')

block body
  app-search-m Loading...
