extends _layout.pug

block title
  title Register

append script
  script(src=geetestUrl)
  script(src=jsUrl+'/register.js')

block body
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  div#geetest-captcha
